nav {
  /* position: fixed;
  top: 0;
  width: 100%; */
  background: #eee;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  margin: 0 0 10px 0;
}

.nav-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding: 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.list {
  display: flex;
  align-items: center;
  justify-content: end;
}

.links a {
  text-transform: uppercase;
  color: #000;
  display: block;
  letter-spacing: 0.1rem;
  padding: 0.5rem 1rem;
}

.links :hover {
  border-radius: 5px;
  background: #000;
  color: #fff;
}

@media screen and (max-width: 720px) {
  .nav-container {
    flex-wrap: wrap;
  }
  .list {
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 0;
  }
  .links {
    width: 100%;
  }
  .links :hover {
    border-radius: 0;
  }
}
